MyPixEditServerClientApp/Connected Services/PixEditWebServiceReference/PixEditWebServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PixEditWebServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PixEditWebServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobDocumentChunk">
    <xs:sequence>
      <xs:element minOccurs="0" name="ByteCount" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDocumentChunk" nillable="true" type="tns:JobDocumentChunk" />
</xs:schema>